.callout.project {
    background-color: $light-gray;
    border: 2px solid $light-gray;

    &:hover {
        background-color: scale-color($light-gray, $lightness: -15%);
        border-color: scale-color($light-gray, $lightness: -15%);
        cursor: pointer;
    }

    & > .project-tags {
        & > .project-tag {
            color: $dark-gray;
            padding-left: 1em;

            & > .icon {
                font-size: 1.4em;
            }
        }
    }

    &.selected {
        border-color: scale-color($light-gray, $lightness: -15%);
    }
}
